<!-- Underscoring (_form_fields) as a visual
representation of a partial view with nothing else -->

<div class="form-group">
    <label for="title">Title</label>
    
    <!-- Bootstrap CSS: 'form-control' gives style upgrade/focus -->
    <input required type="text" name="title" id="title" class="form-control">

    <button type="submit" class="btn btn-primary">Save</button>
</div>